<html class="ng-scope" data-ng-app="myApp" xmlns:ng="http://angularjs.org">
 <head>
  <style type="text/css">
   @charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}
  </style>
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
  <meta content="telephone=no" name="format-detection"/>
  <title class="ng-binding" data-ng-bind="'IHJ — ' + title">
   IHJ — Commercial Debt Management - Recovery professionals based in Glasgow and Edinburgh
  </title>
  <meta content="Start Your Debt Recovery Today. Best Commission Rates Offered. 30 years experience. Delivering outstanding results and maximising customer cashflow." name="description"/>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <link href="css/style.css" rel="stylesheet" type="text/css"/>
  <link href="images/icon.svg" rel="shortcut icon"/>
  <meta content="IHJ — Commercial Debt Management - Recovery professionals based in Glasgow and Edinburgh" property="og:title"/>
  <meta content="website" property="og:type"/>
  <meta content="Start Your Debt Recovery Today. Best Commission Rates Offered. 30 years experience. Delivering outstanding results and maximising customer cashflow." property="og:description"/>
  <meta content="http://www.ihjcollection.co.uk/#/" property="og:url"/>
  <meta content="http://www.ihjcollection.co.uk/images/logoandnameonly.svg" property="og:image"/>
  <link href="https://www.ihjcollection.co.uk/#/" ng-href="https://www.ihjcollection.co.uk/#/" rel="canonical"/>
  <!-- Google tag (gtag.js) -->
  <script async="" src="js/js">
  </script>
  <script>
   window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

  		gtag('config', 'G-QJK59LQXXR');
  </script>
 </head>
 <body class="ng-scope" data-ng-controller="MyCtrl" id="ng-app">
  <div class="outline">
  </div>
  <input class="navtoggle" id="toggle" type="checkbox"/>
  <label class="navmenu" for="toggle">
   <span class="off">
   </span>
   <span class="on">
   </span>
  </label>
  <nav>
   <object data="images/icon.svg" ng-click=" go(''); gotoTop()" style="cursor: pointer;" type="image/svg+xml">
   </object>
   <a class="active" href="#/" ng-class="{active:isActive('/')}">
    Home
   </a>
   <!--<a  ng-class="{active:isActive('/about-us')}" href="#/about-us">About Us</a>-->
   <a href="#/our-services" ng-class="{active:isActive('/our-services')}">
    Services
   </a>
   <a href="#/late-payment-legislation" ng-class="{active:isActive('/late-payment-legislation')}">
    Late Payment Legislation
   </a>
   <!--<a  ng-class="{active:isActive('/iresolve-legal')}" href="#/iresolve-legal">iResolve</a>-->
   <!--		<a  href="https://www.iresolve-legal.co.uk/" target="_blank">iResolve-Legal</a>-->
   <a href="#/contact-us" ng-class="{active:isActive('/contact-us')}">
    Contact Us
   </a>
  </nav>
  <div class="down-pointer" id="dwnPoi" style="bottom: -15rem; opacity: 0;">
   <span>
    ▼
   </span>
  </div>
  <noscript>
   We're sorry, but this website requires javascript to run. Please visit your browser settings to enable it or trying using a recently updated browser.
  </noscript>
  <!-- ngView:  -->
  <main class="ng-scope" data-ng-view="" id="top" style="">
   <meta charset="utf-8" class="ng-scope"/>
   <section class="split-window ng-scope">
    <div class="full-height no-top-padding">
     <object data="images/logo.svg" type="image/svg+xml">
      <img src="images/img.jpeg"/>
     </object>
    </div>
    <div class="introCTA full-height ng-scope" ng-controller="formCtrl">
     <!--<h1>No Recovery, No Fee Options Available</h1>-->
     <h1>
      Commercial Debt Management &amp; Credit Control Services
     </h1>
     <h2>
      Best Commission Rates Offered
     </h2>
     <h3>
      Call Today
     </h3>
     <h5>
      0131 555 0785
     </h5>
     <form class="ng-pristine ng-invalid ng-invalid-required ng-valid-email" name="userForm" ng-submit="submitForm(userForm.$valid)">
      <input class="ng-pristine ng-untouched ng-invalid ng-invalid-required" min="2" name="name" ng-model="name" placeholder="Your Full Name*" required="" type="text"/>
      <br/>
      <input class="ng-pristine ng-untouched ng-valid" min="2" name="org" ng-model="org" placeholder="Your Organisation" type="text"/>
      <br/>
      <input class="ng-pristine ng-untouched ng-valid-email ng-invalid ng-invalid-required" min="2" name="email" ng-model="email" placeholder="Your Email*" required="" type="email"/>
      <br/>
      <input class="ng-pristine ng-untouched ng-valid" min="9" name="phone" ng-model="phone" placeholder="Your Telephone" type="text"/>
      <br/>
      <textarea class="ng-pristine ng-untouched ng-invalid ng-invalid-required" name="query" ng-model="query" placeholder="How can we help you?" required=""></textarea>
      <br/>
      <input class="button ng-pristine ng-untouched ng-valid" disabled="disabled" id="submitbutton" ng-disabled="userForm.$invalid" ng-model="submitButts" tabindex="-1" type="submit" value="Submit Details"/>
      <!--onsubmit="ga('send', 'event', 'Contact','Submitted','AllForm','100');"-->
     </form>
    </div>
   </section>
   <section class="split-window ng-scope" id="sectionNoOb">
    <div class="blue-bkrgnd full-height">
     <!--<h2>Commercial Debt Management &amp; Credit Control Services</h2>-->
     <h2>
      Is Your Business Owed Money?
      <br/>
      <br/>
      If you're struggling to recover cash, we can help!
     </h2>
     <h3>
      Experience Matters — Over 30 years assisting businesses collect overdue debt.
     </h3>
     <ul>
      <li>
       Full Commercial Debt Management Service
      </li>
      <li>
       No contract to sign
      </li>
      <li>
       Cases actioned same day
      </li>
      <li>
       Dedicated client relationship manager
      </li>
      <li>
       Market Leading fees
      </li>
      <li>
       Proactive service – telephony, email and letter
      </li>
      <li>
       Seamless process to litigation
      </li>
      <li>
       Late Payment Collections
      </li>
     </ul>
    </div>
    <div class="full-height">
     <div class="est">
      <h5>
       Est.
      </h5>
      <h4>
       1986
      </h4>
     </div>
     <h3>
      Best of Both Worlds Guarantee
     </h3>
     <h4>
      A seamless, low cost process carefully managed from pre-sue to litigation with our partner firms. Bringing true Transparency and Cost Management if and when litigation is required.
     </h4>
     <h3 class="full-flex">
      Call For a
      <span class="running" id="spanNoOb">
       No Obligation
      </span>
      Discussion:
     </h3>
     <div class="contact-field">
      <img src="images/icon-staff.svg"/>
      <h6>
       0131 555 0785
      </h6>
     </div>
     <div class="contact-field">
      <img src="images/icon-email.svg"/>
      <h6>
       <a href="mailto:info@ihjcollection.co.uk">
        info@ihjcollection.co.uk
       </a>
      </h6>
     </div>
    </div>
   </section>
   <section class="why ng-scope">
    <h2>
     Why Work With Us?
    </h2>
    <div class="industry-service">
     <object data="images/icon-xp.svg" type="image/svg+xml">
     </object>
     <div class="text-cont">
      <h3>
       30 Years Experience
      </h3>
      <p>
       We are a specialist business to business collections company with over 30 years experience. We utilise all this experience to exceed customer expectations and offer a seamless service from pre-sue to litigation.
      </p>
     </div>
    </div>
    <div class="industry-service">
     <object data="images/icon-management.svg" type="image/svg+xml">
     </object>
     <div class="text-cont">
      <h3>
       Management Expertise
      </h3>
      <p>
       We offer dedicated arrears management, tracing, recovery and litigation services across the UK. We have a wide network of expertise and strong relationships with tracing agents, insolvency practitioners and sheriff officers.
      </p>
     </div>
    </div>
    <div class="industry-service">
     <object data="images/icon-money.svg" type="image/svg+xml">
     </object>
     <div class="text-cont">
      <h3>
       Millions of Pounds Recovered
      </h3>
      <p>
       No debt is too small. Our costs are often covered by Late Payment collection. Our aim is to deliver outstanding results and maximise customer cashflow.
      </p>
     </div>
    </div>
    <!--<div class="industry-service">
			<object type="image/svg+xml" data="images/icon-nofee.svg"></object>
			<div class="text-cont">
            	<h3>No Recovery, No Fee Available</h3>
            	<p>Our service can be provided on a No Recovery No Fee basis or fixed fee. Fees as low as 4% and we will not be beaten on price.</p>
			</div>
		</div>-->
    <div class="industry-service">
     <object data="images/icon-parters.svg" type="image/svg+xml">
     </object>
     <div class="text-cont">
      <h3>
       Seamless Partnerships
      </h3>
      <p>
       We also offer low cost litigation services, through our partner company.
      </p>
     </div>
    </div>
    <div class="industry-service">
     <object data="images/icon-staff.svg" type="image/svg+xml">
     </object>
     <div class="text-cont">
      <h3>
       Expert Staff
      </h3>
      <p>
       We employ and train the best people to understand different businesses require different approaches. Our diverse client base, across a range of sectors, all demand results and a positive customer experience.
      </p>
     </div>
    </div>
   </section>
   <section class="split-window about ng-scope">
    <div>
     <h1>
      About Us
     </h1>
     <p>
      IHJ Collection was established in Scotland’s capital back in 1986. Since then, we have been providing dependable debt collection services to private and commercial clients across the UK. We are proud of the fact that our rates are among the most affordable in the industry. Call our support team now on 0131 555 0785 to discuss our competitive fees.
     </p>
    </div>
    <div>
     <img src="images/AdobeStock_100087539.jpeg" style="object-position: left;"/>
    </div>
   </section>
   <section class="benefits ng-scope">
    <div class="benefit">
     <img src="images/AdobeStock_80765235.jpeg" style="object-position: center;"/>
     <div class="floating-text">
      <h3>
       Cost Effective
      </h3>
      <p>
       Low commission rates, subject to debt value.
      </p>
     </div>
    </div>
    <div class="benefit">
     <img src="images/AdobeStock_99588132.jpeg" style="object-position: center;"/>
     <div class="floating-text">
      <h3>
       Focused
      </h3>
      <p>
       We take care of everything from start to finish, allowing you to focus on running your business.
      </p>
     </div>
    </div>
    <div class="benefit">
     <img src="images/AdobeStock_57928724.jpeg"/>
     <div class="floating-text">
      <h3>
       Cash Flow
      </h3>
      <p>
       With our stellar retrieval rate, you can rest assured that you'll pocket the money you've earned.
      </p>
     </div>
    </div>
   </section>
  </main>
  <footer class="blue-bkrgnd ng-scope" ng-controller="formCtrl" style="padding-bottom: 8rem;">
   <div class="divider">
   </div>
   <ul class="footer-links">
    <li>
     <a class="active" href="#/" ng-class="{active:isActive('/')}" ng-click="gotoTop()">
      Home
     </a>
    </li>
    <!--<li><a ng-click="gotoTop()" ng-class="{active:isActive('/about-us')}" href="#/about-us">About Us</a></li>-->
    <li>
     <a href="#/our-services" ng-class="{active:isActive('/our-services')}" ng-click="gotoTop()">
      Services
     </a>
    </li>
    <li>
     <a href="#/late-payment-legislation" ng-class="{active:isActive('/late-payment-legislation')}" ng-click="gotoTop()">
      Late Payment Legislation
     </a>
    </li>
    <li>
     <a href="#/iresolve-legal" ng-class="{active:isActive('/iresolve-legal')}">
      iResolve
     </a>
    </li>
    <li>
     <a href="#/contact-us" ng-class="{active:isActive('/contact-us')}" ng-click="gotoTop()">
      Contact Us
     </a>
    </li>
   </ul>
   <p>
    Contact IHJ Collection at
    <a href="mailto:info@ihjcollection.co.uk">
     info@ihjcollection.co.uk
    </a>
    for independent debt collection from recovery professionals. Alternatively contact our support team on 0131 555 0785 to discuss your requirements.
   </p>
   <form class="ng-pristine ng-invalid ng-invalid-required ng-valid-email" name="userForm" ng-submit="submitForm(userForm.$valid)">
    <input class="ng-pristine ng-untouched ng-invalid ng-invalid-required" min="2" name="name" ng-model="name" placeholder="Your Full Name*" required="" type="text"/>
    <br/>
    <input class="ng-pristine ng-untouched ng-valid" min="2" name="org" ng-model="org" placeholder="Your Organisation" type="text"/>
    <br/>
    <input class="ng-pristine ng-untouched ng-valid-email ng-invalid ng-invalid-required" min="2" name="email" ng-model="email" placeholder="Your Email*" required="" type="email"/>
    <br/>
    <input class="ng-pristine ng-untouched ng-valid" max="12" min="10" name="phone" ng-model="phone" placeholder="Your Telephone" type="text"/>
    <br/>
    <textarea class="ng-pristine ng-untouched ng-invalid ng-invalid-required" name="query" ng-model="query" placeholder="How can we help you?" required=""></textarea>
    <br/>
    <input class="button ng-pristine ng-untouched ng-valid" disabled="disabled" id="submitbutton" ng-disabled="userForm.$invalid" ng-model="submitButts" tabindex="-1" type="submit" value="Submit Details"/>
    <!--onsubmit="ga('send', 'event', 'Contact','Submitted','AllForm','100');"-->
   </form>
   <div class="divider">
   </div>
   <p class="smallCopyright">
    IHJ Collection Ltd is a company incorporated in Scotland (Registered No: SC101236) whose registered office address is 25 Morton Street, Edinburgh, EH15 2HN © 2025 IHJ Collection Ltd. All rights reserved.
    <a href="#/privacy" ng-class="{active:isActive('/privacy')}" ng-click="gotoTop()">
     Privacy Policy.
    </a>
   </p>
  </footer>
  <style type="text/css">
   #COVID {
            animation: 1s ease-in covidbanner both;
            padding: 0.75rem 0.25rem;
            line-height: 1.2;
            animation-delay: 2s;
            text-align: center;
        }
        /*@media screen and (max-width: 600px) {
            #COVID {padding: 1rem 4rem 1rem 1rem; font-size: 0.85em;}
        }
        @media screen and (min-width: 600px) {
            #COVID {text-align: center; padding: 0.5rem;}
        } */
        
        @keyframes covidbanner {
            from {transform: translateY(2rem); opacity: 0;}
            to {transform: translateY(0); opacity: 1;}
        }
  </style>
  <!--<div id="COVID" style="position: fixed;left: 0;z-index: 898;background-color: dodgerblue;color: white;width: 100%;bottom: 0;">We're available to help with debt recovery during the COVID-19 pandemic. Call 0131 555 0785 for expert advice in navigating this crisis.</div>-->
  <script src="js/angular.js">
  </script>
  <script src="js/angular-route.js">
  </script>
  <script src="js/angular-animate.js">
  </script>
  <script src="js/app.js">
  </script>
  <script src="js/ofi.min.js" type="text/javascript">
  </script>
  <script>
   objectFitImages();
  </script>
 </body>
</html>
