/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #fff;
    margin: 0;
    padding: 20px;
    height: 100vh;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
}

.saved-routes {
    width: 250px;
    margin-right: 20px;
    overflow-y: auto;
    border-right: 1px solid #555;
    padding-right: 20px;
		font-size: 12px;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px);
}

.input-output {
    display: flex;
    gap: 20px;
    height: 45%;
    min-height: 200px;
}

textarea {
    width: 50%;
    background-color: #2e2e2e;
    color: #fff;
    border: 1px solid #555;
    padding: 10px;
    border-radius: 8px;
    resize: none;
}

#routeCanvas {
    flex: 1;
    background-color: #2e2e2e;
    border: 1px solid #555;
    border-radius: 8px;
    margin-top: 20px;
    min-height: 300px;
}

.route-item {
    background: #2e2e2e;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;

	
}

.controls {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

button, select {
    background-color: #00008b;
    color: white;
    border: none;
    padding: 5px 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #005f99;
}

.clear-cache-btn{
    background-color: #cc0000 !important;
    margin-top: 15px;
}
.delete-btn{
    background-color: #cc0000 !important;
    padding: 1px 1px;
}

.clear-cache-btn:hover {
    background-color: #990000 !important;
}

label {
    background-color: #00008b;
    color: white;
    border: none;
    padding: 3px 16px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
}
/* Your existing CSS code here */
.checkbox-label {
    display: flex;
    align-items: center;
}

input[type="checkbox"] + span::before {
  content:"";
  width:16px; 
  height:16px;
  border-radius:3px;
  margin-right:.5rem;
  background-color:#eee;
}
